.registrationDiv{
    background-color: rgb(20, 221, 221);
    align-items:center ;
    
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    
}
.registrationDiv p{
    margin: auto;
    text-align: center;
    font-weight: bold;

}
.gainDiv{
    background-color: #1A1F1A;
    width: 100%;
}
.gainSubDiv{
    margin: auto;
    padding: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;
    width:70%;
}
.gainSubDiv .heading{
    font-family: 'openSans';
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: white;
    width:100%;
    margin-bottom: 0;
}

.gainSubDiv .tagline{
    text-align: center;
    color: beige;
    margin-top: 1rem;
}
@media (max-width:767px) {
    .gainDiv{
        width:100%
    }
    
}