.leftDiv{
    width:30%;
    height: 100vh;
    background-color: white;
    color: #0071BC;
    box-shadow: 0px 2px 5px 0px #0071BC;
}
.leftDiv div .img{
    width: 80px;
    margin-bottom: 1rem;
}
.leftDiv div{
    margin: 1rem;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.leftDiv .link{
    padding: 0.5rem;
}
.leftDiv .link:hover{
    background-color: #0071BC ;
    color:white;
    padding: 0.5rem;
}
.leftDiv .link:active{
    background-color: #0071BC;
    color:white;
    padding: 0.5rem;
}
.leftDiv div h1{
    font-size: 1.2rem;
    text-align: center;
}
.leftDiv div p{
    font-size: 0.7rem;
}
.rightDiv{
    align-items: center;
    justify-content: center;
}
.welcomeDiv{
    width: 80%;
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: center;
    
    
}
.welcomeDiv h1{
    color: #0071BC;
}
.profileDiv .img{
    width: 100px;
    margin-left: 2rem;
}
.profileDiv{
    margin-top: 2rem;
    margin-left: 2rem;
}
.profileDiv p{
    margin-top: 1rem;
    color: #0071BC;
}
.profileDiv span{
    color: black;
    
}
@media (max-width:767px) {
    .leftDiv div h1{
        font-size: 1rem;
    }    
    .leftDiv div p{
        font-size: 0.5rem;
    }
    .rightDiv{
        color: #0071BC;
    }
    .profileDiv{
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .profileDiv p{
        margin-top: 1rem;
    }
    .profileDiv span{
        color: black;
        
    }
}